/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */

.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgba(0, 0, 40, 1);
  --font-family: 'IBM Plex mono', 'Andale Mono', monospace;
  --color-title: rgba(219, 0, 255, 1);
  --color-shadow: rgba(255, 0, 112, 1);
  --color-button: rgba(255, 0, 112, 1);
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --color-rec: rgba(255, 0, 112, 1);
  --color-decoration: rgba(255, 0, 112, 1);
  --color-title-decor: rgba(0, 0, 40, 1);
  --color-bg-title-decor: rgba(255, 0, 112, 1);
  --color-section-title: rgba(255, 0, 112, 1);
  --color-text: rgba(241, 178, 206, 1);
  --color-border: rgba(241, 178, 206, 1);
}